@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* A boring light theme*/
    --background-color: #f4f4f4;
    --background-secondary-color: #e0e0e0;
    --text-color: #2b2b2b;
    --muted-text-color: #6e6e6e;
    --disabled-text-color: #a8a8a8;
    --primary-color: #5a9bd5;
    --secondary-color: #4a74c3;
    --info-color: #339af0;
    --disabled-color: #dcdcdc;
    --border-color: #bcbcbc;
    --button-bg: #d7dfde;
    --button-hover-bg: #d4d4d4;
    --error-color: #ff4444;

    --grid-color: #bcbcbc;

    --bar-color: #1E90FF80;
    --bar-border-color: #1E90FF;

    --est-cdf-min-color: #2E8B57;
    --est-cdf-max-color: #2E8B57;
    --cdf-min-color: #B22222;
    --cdf-max-color: #B22222;
    --cdf-predicted-color: #32CD32;
    --cdf-testmode-color: #1E90FF;

    --pdf-min-color: #B22222;
    --pdf-max-color: #B22222;
    --pdf-predicted-color: #32CD32;
    --pdf-testmode-color: #1E90FF;

    --table-border-color: #bcbcbc;
}

[data-theme="dark"] {
    /* My nostalgic dark theme */
    --background-color: #1D1F21;
    --background-secondary-color: #252B2F;
    --text-color: #D1D1D1;
    --muted-text-color: #A0A0A0;
    --disabled-text-color: #5c5c5c;
    --primary-color: #00FF00;
    --secondary-color: #2E8B57;
    --disabled-color: #2e392e;
    --border-color: #444C47;
    --button-bg: #3E4C39;
    --button-hover-bg: #4B5C46;
    --error-color: #F08080;
    --info-color: #00FFFF;
    
    --grid-color: #404d41;

    --bar-color: #4CAF5080;
    --bar-border-color: #4CAF50FF;

    --est-cdf-min-color: #2E8B57;
    --est-cdf-max-color: #2E8B57;
    --cdf-min-color: #8B0000;
    --cdf-max-color: #8B0000;
    --cdf-predicted-color: #00FF00;
    --cdf-testmode-color: #1E90FF;
    --pdf-min-color: #8B0000;
    --pdf-max-color: #8B0000;
    --pdf-predicted-color: #00FF00;
    --pdf-testmode-color: #1E90FF;

    --table-border-color: #404d41;
}

.primary-button {
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    width: 250px;
    height: auto;
    border-radius: 4px;
    cursor: pointer;
    transition:
        background-color 0.3s,
        border-color 0.3s;
}

.primary-button:disabled {
    border-color: var(--disabled-color);
    color: var(--disabled-text-color);
    cursor: wait;
}

.primary-button:disabled:hover {
    border-color: var(--disabled-color);
}

.primary-button:disabled:active {
    box-shadow: none;
}

.primary-button:hover {
    border-color: var(--primary-color);
}

.primary-button:focus {
    outline: none;
    box-shadow: 0 0 1px var(--primary-color);
}

.primary-button:active {
    background-color: transparent;
    box-shadow: 0 0 5px var(--primary-color);
}

.secondary-button, .results-button {
    background-color: transparent;
    color: var(--muted-text-color);
    border: 2px solid var(--border-color);
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    width: auto;
    height: auto;
    border-radius: 4px;
    cursor: pointer;
    transition:
        background-color 0.1s,
        border-color 0.1s;
}

.secondary-button:hover, .results-button:hover {
    /*background-color: var(--button-hover-bg);*/
    border-color: var(--secondary-color);
    color: var(--text-color);
    /*box-shadow: 0 0 1px var(--primary-color);*/
}

.secondary-button:focus, .active-tool, .results-button:active {
    outline: none;
    background-color: var(--button-bg);
    color: var(--text-color);
    border-color: var(--secondary-color);
    box-shadow: 0 0 3px var(--secondary-color);
}

/* Link style */
.muted-link {
    color: var(--muted-text-color);
    transition: color 0.3s, text-decoration 0.3s;
    cursor: pointer;
}

.muted-link-disabled {
    cursor: wait;
    opacity: 0.5;
}

.theme-link {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s, text-decoration 0.3s;
}

.theme-link:hover, .muted-link:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.theme-link:focus, .muted-link:focus {
    outline: none;
    box-shadow: 0 0 2px var(--primary-color);
}

header a, footer a {
    transition: opacity 0.3s ease;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

input, textarea {
    background-color: transparent;
    color: var(--text-color);
    padding: 5px 7px;             
    border: 1px solid var(--border-color);
    border-radius: 8px;
    outline: none;
}

input:focus {
    outline: none;
    border: 1px solid var(--secondary-color);
}

input::placeholder {
    color: var(--muted-text-color);
}

textarea {
    background-color: transparent;
    color: var(--text-color);
    padding: 12px 16px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    outline: none;
    resize: vertical;
    min-height: 120px;
    width: 100%;
}

textarea:focus {
    border: 1px solid var(--secondary-color);
    outline: none;
}

textarea::placeholder {
    color: var(--muted-text-color);
}

.error-message {
    color: var(--error-color);
}

.info-message {
    color: var(--info-color);
}

.min-w-lg {
    min-width: 32rem;
}

.label-text {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
}

.input-text {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
}

.input-text:disabled {
    color: var(--disabled-text-color);
    cursor: wait;
}

.chart-container {
    width: 100%;
    height: 90%;
    position: relative;
  }

.table-results {
    border: 1px solid var(--table-border-color);
    border-collapse: collapse;
    border-radius: 8px;
    background-color: var(--background-secondary-color);
    padding: 16px;
    margin-top: 16px;
}

.table-results th, .table-results td {
    border: 1px solid var(--table-border-color);
}

input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--background-secondary-color);
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  input[type="checkbox"]:checked {
    background-color: var(--background-secondary-color);
    border-color: var(--border-color);
  }
  
  input[type="checkbox"]:checked::after {
    /* content: "✔"; */
    content: "\2713";
    color: var(--text-color);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }